/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Rubik', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
}
h1 {
  font-size: 3.4rem;
}
h2 {
  font-size: 3.1rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 1rem;
}
p {
  font-size: 1.8rem;
  line-height: 1.3;
}
blockquote {
  font-size: 1.6rem;
  line-height: 1.4;
}
.wrapper {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
header nav {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  border: 0.2rem solid #34495e;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
  font-size: 1.7rem;
  transition: transform 1s ease-in-out 0.5s;
}
header nav ul:hover {
  transform: perspective(100px) rotate3d(0, 1, 0, 360deg);
}
header nav ul a {
  padding: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.7rem;
}
header nav .logo img {
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}
header .main-image {
  position: relative;
}
header .main-image .buttons {
  display: inline-flex;
  justify-content: space-between;
  position: absolute;
  bottom: 30%;
  left: 15%;
}
header .main-image .buttons button {
  display: flex;
  border: 0.2rem solid #34495e;
  border-radius: 1.2rem;
  font-size: 1.7rem;
  padding: 0.5rem;
  background-color: #2a5298;
  color: #ffb347;
  cursor: pointer;
  margin: 0.5em;
}
.home {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
}
.home .intro-to-features {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
}
.home .features {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
}
.home .features .inside-of-features {
  padding: 0.5rem;
}
.home .features .inside-of-features p {
  padding-top: 1.2rem;
}
