footer {

.row-footer{
  display: flex;
  justify-content: space-between;
  padding: @mediumPadding;

    .row-inside-of-footer {
      display: row;
      justify-content: space-between;
      padding: @mediumPadding;

      .footer-nav{
          display: inline-flex;
          padding: @mediumPadding;
         & li a{
              padding: @mediumPadding;
          }
      }

      .social-links{
          display: inline-flex;
          padding: @mediumPadding;
          & li a{
            padding: @mediumPadding;
        }
      }
    }

}


}


.copyright {
    display: flex;
    justify-content: center;
}


