header {


    nav {
        display: flex;
        justify-content: space-around;
        padding: @smallPadding;
        border: @myBorder;

        ul {
            display: flex;
            justify-content: space-between;
            padding: @mediumPadding;
            font-size: @largeFontSize;
            a {
                padding: @mediumPadding;
                text-decoration: none;
            }
        }

        .logo img{
            border-radius:30%;
        }

    }




    .chef {
        background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
        background-size: cover;
        background-position: center;
        width:100%;
        background-attachment: fixed;

    }

}