.home {
    display: flex;
    flex-direction: column;

  
    .intro-to-features{
       display: flex;
       flex-direction: column;

    }


    .features{
        display: flex;
        justify-content: space-evenly;

    }










}