.home {
    display: flex;
    flex-direction: column;
    padding: @mediumPadding;

    .intro-to-features {
        display: flex;
        flex-direction: column;
        padding: @mediumPadding;

    }

    .features {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: @smallPadding;

        .inside-of-features {
            padding: @smallPadding;
            width: 70%;

            p {
                padding-top: @mediumPadding;
            }

        }
    }


}