
.buttonParametric() {
    display: flex;
    border: @myBorder;
    border-radius: @mediumPadding;
    font-size: @largeFontSize;
    padding: @smallPadding;
    background-color: @deep-blue;
    color: @pastel-orange;
    cursor: pointer;
      
}
