.testimonials  {
display: flex;
justify-content: space-evenly;
padding: @mediumPadding;


.inside-of-testimonials{
    display: flex;
    flex-direction: column;
  
    p{
        padding: @smallPadding;
 
    }
}
 




}