.testimonials  {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
padding: @mediumPadding;


.inside-of-testimonials{
    display: flex;
    flex-direction: column;
    padding: @smallPadding;
    width: 35%;
    padding: @smallPadding;

    .customers-photos{
        border-radius: 20%;
    }

}
 




}